<section id="movies watchlist">
  <div class="row">
    <h1>Watchlist</h1>
  </div>
  <!-- Affiche les films déjà sorties-->
  <div class="bg-banner">
    <h2 class="section" *ngIf="result && result.length != 0">Already out :</h2>
  </div>
  <div class="row">
    <ng-container *ngFor="let movie of result;let i=index">
      <div class="movie" *ngIf="checkDate(movie.release_date, 0, '-')">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 mobile">
          <div class="poster">
            <div class="overlay">
              <div class="navmovie" id='nav{{i}}'>
                <a (click)="this.auth.suppMovie(movie.id);newWatchList(i)" class="nav-item nav-count-1"><i class="fa fa-trash" aria-hidden="true"></i><span class="invisible">Remove</span></a>
                <a (click)="this.auth.addSeenMovie(movie.id);newWatchList()" class="nav-item nav-count-2"><i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i><span class="invisible">Seen</span></a>
                <a (click)="this.navMovie('nav'+i)" class="mask">+</a>
              </div>
            </div>
            <a routerLink="/movie/{{movie.id}}">
                <img class="loading" src="/assets/poster.jpg">
                <img *ngIf="movie.backdrop_path && app.innerWidth <= 412" class="thumbnail" src="http://image.tmdb.org/t/p/w300/{{movie.backdrop_path}}" title="{{movie.title}}">
                <img *ngIf="movie.poster_path && app.innerWidth > 412" class="thumbnail" src="http://image.tmdb.org/t/p/w300/{{movie.poster_path}}" title="{{movie.title}}">
              </a>
            <p class="note">{{movie.vote_average}}</p>
          </div>
          <div class="movie-info">
            <h3>{{movie.title}}</h3>
            <p *ngIf="movie.genres || movie.release_date">{{movie.genres[0].name}} | {{_movieService.localDate(movie.release_date)}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Affiche les films - 30jours -->
  <div class="bg-banner">
    <h2 class="section" *ngIf="result && result.length != 0">Release under 30 days :</h2>
  </div>
  <div class="row">
    <ng-container *ngFor="let movie of result;let i=index">
      <div class="movie" *ngIf="checkDate(movie.release_date, 30, '-') && checkDate(movie.release_date, 0, '+')">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 mobile">
          <div class="poster">
            <div class="overlay">
              <div class="navmovie" id='nav{{i}}'>
                <a (click)="this.auth.suppMovie(movie.id);newWatchList(i)" class="nav-item nav-count-1"><i class="fa fa-trash" aria-hidden="true"></i><span class="invisible">Remove</span></a>
              </div>
            </div>
            <a routerLink="/movie/{{movie.id}}">
              <img class="loading" src="/assets/poster.jpg">
              <img *ngIf="movie.backdrop_path && app.innerWidth <= 412" class="thumbnail" src="http://image.tmdb.org/t/p/w300/{{movie.backdrop_path}}" title="{{movie.title}}">
              <img *ngIf="movie.poster_path && app.innerWidth > 412" class="thumbnail" src="http://image.tmdb.org/t/p/w300/{{movie.poster_path}}" title="{{movie.title}}">
            </a>
            <p class="note">{{movie.vote_average}}</p>
            <div class="day-left">
              <p>{{_movieService.countdown(movie.release_date)}} days left</p>
            </div>
          </div>
          <div class="movie-info">
            <h3>{{movie.title}}</h3>
            <p *ngIf="movie.genres || movie.release_date">{{movie.genres[0].name}} | {{_movieService.localDate(movie.release_date)}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Affiche les films + 30jours -->
  <div class="bg-banner">
    <h2 class="section" *ngIf="result && result.length != 0">Release above 30 days :</h2>
  </div>
  <div class="row">
    <ng-container *ngFor="let movie of result;let i=index">
      <div class="movie" *ngIf="checkDate(movie.release_date, 30, '+')">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 mobile">
          <div class="poster">
            <div class="overlay">
              <div class="navmovie" id='nav{{i}}'>
                <a (click)="this.auth.suppMovie(movie.id);newWatchList(i)" class="nav-item nav-count-1"><i class="fa fa-trash" aria-hidden="true"></i><span class="invisible">Remove</span></a>
              </div>
            </div>
            <a routerLink="/movie/{{movie.id}}">
              <img class="loading" src="/assets/poster.jpg">
              <img *ngIf="movie.backdrop_path && app.innerWidth <= 412" class="thumbnail" src="http://image.tmdb.org/t/p/w300/{{movie.backdrop_path}}" title="{{movie.title}}">
              <img *ngIf="movie.poster_path && app.innerWidth > 412" class="thumbnail" src="http://image.tmdb.org/t/p/w300/{{movie.poster_path}}" title="{{movie.title}}">
            </a>
            <p class="note">{{movie.vote_average}}</p>
            <div class="day-left">
              <p>{{_movieService.countdown(movie.release_date)}} days left</p>
            </div>
          </div>
          <div class="movie-info">
            <h3>{{movie.title}}</h3>
            <p *ngIf="movie.genres || movie.release_date">{{movie.genres[0].name}} | {{_movieService.localDate(movie.release_date)}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="result && result.length != 0">Ajouter d'abord des films à vos favoris</div>
</section>
