<section id="movies">
  <div class="row">
    <h1>Watchlist</h1>
    <div *ngFor="let movie of result;let i=index" class="col-sm-6 col-md-4 col-lg-3">
      <div class="movie">
        <div class="poster">
          <img class="loading" src="/assets/poster.jpg">
          <div class="overlay">
            <div class="navmovie" id='nav{{i}}'>
              <a (click)="this.auth.suppMovie(movie.id);newWatchList()" class="nav-item nav-count-1"><i class="fa fa-trash" aria-hidden="true"></i><span class="invisible">Remove</span></a>
            </div>
          </div>
          <a routerLink="/movie/{{movie.id}}">
            <img *ngIf="movie.poster_path" class="thumbnail" src="http://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
          </a>
          <p class="note">{{movie.vote_average}}</p>
        </div>
        <h2>{{movie.title}}</h2>
      </div>
    </div>
    <div *ngIf="!result">Ajouter d'abord des films a vos favoris</div>
  </div>
</section>
