<section id="profile-settings">

  <div class="col-md-12 bg-profile-banner">
    <img class="profile-banner" src="../../assets/banner/banner-test.jpg" alt="Photo de Profil"/>
  </div>

  <div class="col-md-2" id="profile-general">

    <div class="profile-avatar">
      <img class="avatar" src="{{auth.userProfile.picture_large}}" alt="Photo de Profil"/>
    </div>

    <div class="profile-info">
      <h2 class="users-nickname">{{auth.userProfile.nickname}}</h2>
      <div class="col-md-12">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <span class="users-locality">Paris</span>
      </div>

      <div class="col-md-12">
        <span class="users-friend col-md-6">15 Friends</span>
        <span class="users-follow col-md-6">100 Followers</span>
      </div>

      <div class="col-md-12">
        <i class="fa fa-film" aria-hidden="true"></i>
        <span class="users-watch-time">10 days watch movies</span>
      </div>

      <div class="col-md-12">
        <i class="fa fa-heart" aria-hidden="true"></i>
        <span class="users-favorite-movie">Favorites Movies</span>
      </div>

    </div>
  </div> <!-- END Profile-general -->

  <div class="col-md-10">
    <ul class="nav nav-pills nav-justified profile-navigation col-md-12">
      <li class="active"><a href="#"><i class="fa fa-film" aria-hidden="true"></i>Movies</a></li>
      <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i>Friends</a></li>
      <li><a href="#"><i class="fa fa-line-chart" aria-hidden="true"></i>Statistics</a></li>
      <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
    </ul>

    <div class="porfile-content col-md-12">
    </div>

  </div>

</section>
