/***********
*   RESET  *
************/

* {
  /* Supprimer toute les marges */
  margin: 0;
  padding: 0;
  /* Intégrer les paddings et border dans la taille des blocs */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar-brand {
  width: 200px;
  background-color: #0093ab;
  height: 75px;
  padding: 25px 20px;
  font-weight: 400;
  letter-spacing: 4px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.navbar-brand span {
  letter-spacing: normal;
  float: right;
  font-size: 12px;
  margin-left: -15px;
  color: #83c9d5;
}


/*barre de recherche*/

.searchbar .btn-search {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: #239f80;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 40px -5px black;
}

.searchbar .btn-search:before {
  position: absolute;
  content: '';
  display: block;
  top: 18px;
  left: 20px;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 2px #fff;
}

.searchbar .btn-search:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 2px;
  top: 28px;
  left: 26px;
  background-color: #fff;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  border-radius: 4px;
}

.searchbar .btn-extended {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 0px;
  height: 50px;
  margin-right: 20px;
  border-radius: 40px;
  padding: 0;
  font-size: 16px;
  border: none;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  color: black;
}

.searchbar .btn-extended:focus {
  outline-width: 0px;
}

.searchbar.clicked .btn-search {
  border-radius: 0 40px 40px 0;
  margin-left: 115px;
}

.clickedInput {
  margin-left: -185px !important;
  width: 300px !important;
  padding: 20px 30px !important;
  opacity: 1 !important;
  border-radius: 40px 0 0 40px !important;
}


/************* MENU ********************/


/*bouton pour ouvrir le menu mobile*/

.button-menu {
  position: absolute;
  top: 5px;
  left: 15px;
  color: #239f80;
  z-index: 99;
  display: none;
}


/*cache le bouton pour fermer le menu tant qu'il n'est pas ouvert*/

.hide {
  display: none;
}

.navigation {
  position: fixed;
  display: block;
  width: 200px;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.41);
}

.navigation .nav {
  padding-top: 90px;
  font-size: 14px;
}

.nav-category {
  color: #0093ab;
  margin-top: 10px;
  padding: 8px 15px 8px 25px;
  margin: 0 0;
  border-bottom: 1px solid #949ba2;
  border-top: 1px solid #949ba2
}

li.active>a {
  border-left: 6px solid #0093ab;
  color: #FFFFFF;
  padding-left: 19px;
  background-color: #2c3c46;
}

.nav-left a {
  padding: 8px 15px 8px 25px;
  margin: 0 0;
}

#login {
  border-top: 1px solid #0093ab;
}

.container {
  margin-left: 200px;
  width: auto;
  min-height: calc(100vh - 30px);
}

footer {
  height: 20px;
}

a {
  color: #949ba2;
}


/*Responsive Styles*/

@media (max-width: 768px) {
  .container {
    margin-left: 0px;
  }
  /*formate le menu pour mobile*/
  .navigation {
    display: none;
    width: 100%;
    background-image: linear-gradient(to right, #161d23, #28536f);
    text-align: center;
    z-index: 98;
  }
  .navigation .nav {
    padding-top: 75px;
  }
  /*affiche le menu mobile*/
  .mobile-menu {
    display: block;
  }
  /*formate le bouton pour fermer le menu mobile*/
  #close-menu {
    display: block;
    color: #f23363;
  }
  /*formate le bouton pour afficher le menu mobile*/
  .button-menu {
    display: block;
  }
  .mobile-menu .navbar-brand {
    width: 100%;
  }
  .searchbar .btn-search {
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
  }
  .searchbar .btn-search:before {
    top: 15px;
    left: 15px;
  }
  .searchbar .btn-search:after {
    top: 24px;
    left: 21px;
  }
  .searchbar .btn-extended {
    top: 5px;
    right: 5px;
    height: 40px;
  }
  .clickedInput {
    width: 200px !important;
  }
}
