/***********
*   RESET  *
************/
*{
  /* Supprimer toute les marges */
  margin: 0;
  padding: 0;

  /* Intégrer les paddings et border dans la taille des blocs */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.navbar-right {
  margin-right: 0px;
}

.navbar {
  position: static;
  margin-bottom: 0px;
  height: 55px;
  background-color: #FFFFFF;
}

.navbar-static-top {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
}

.navbar-header {
  height: 55px;
}

.navbar-brand {
  width: 200px;
  background-color: #0093ab;
  height: 55px;
  padding: 18px 20px;
  font-weight: 400;
  letter-spacing: 4px;
  color: #FFFFFF;
}

.navbar-brand span {
  letter-spacing: normal;
  float: right;
  font-size: 12px;
  margin-left: -15px;
  color: #83c9d5;
}

.navbar-form {
  margin-top: 10px;
  margin-left: 5px;
  padding: 0;
}

.navbar-left{
  float:left;
}
.navbar-right {
  float:right;
}

.form-control {
  display: inline-block;
    width: auto;
    vertical-align: middle;
}
.navbar-form input {
  border: none;
  box-shadow: none;
  color: #949ba2;
}

.icons {
  padding-left:15px;
  padding-right:15px;
  color: #949ba2;
}

.navigation {
  position: fixed;
  margin-top: 55px;
  display: block;
  width: 200px;
  left: 0;
  bottom: 0;
  top: 0;
}

.navigation .nav {
  padding-top: 10px;
  font-size: 13px;
}

.nav-category {
  color: #0093ab;
  margin-top: 10px;
  padding: 8px 15px 8px 25px;
  margin: 0 0;
  border-bottom : 1px solid #949ba2;
}

li.active>a {
  border-left: 6px solid #0093ab;
  color: #FFFFFF;
  padding-left: 19px;
  background-color: #2c3c46;
}

.nav-left a {
  padding: 8px 15px 8px 25px;
  margin: 0 0;
}

.container {
  padding-top: 60px;
  margin-left: 200px;
  width: auto;
  min-height: calc(100vh - 30px);
}

footer {
  height:20px;
}

a {
  color: #949ba2;
}

@media (max-width: 768px) {
  .container {
    margin-left: 0px;
  }
}
