.hero {
  width: 100%;
  height: 400px;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transform: skewY(-2.2deg);
  transform: skewY(-2.2deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  top: 0;
  left: 0;
}

.hero img {
  width: 100%;
  position: absolute;
}

.back {
  max-width: calc(100% - 200px);
  width: 100%;
  position: absolute;
  margin-top: -32px;
  z-index: -10;
  opacity: 0.06;
}

.cover {
  position: absolute;
  top: 135px;
  left: 262px;
  z-index: 2;
  width: 380px;
}

.details {
  padding: 255px 0 0 460px;
  transform: skewY(+2.2deg);
}

.details .title1 {
  color: white;
  font-size: 44px;
  margin-bottom: 13px;
  position: relative;
}

.details #runtime {
  display:inherit;
}

.separator {
  display:none;
}

.fa-heart {
  color: red;
}

.description {
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
}

.column1 {
  padding-left: 62px;
  display: block;
  padding-top: 307px;
  width: 442px;
  float: left;
  text-align: center;
}

.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  padding-left: 442px;
  padding-top: 30px;
  margin-left: 20px;
}

.avatars {
  margin-top: 23px;
}

.avatars img {
  cursor: pointer;
  width: 135px;
  height: 200px;
}

.avatars img:hover {
  opacity: 0.6;
}

.avatars a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .hero img {
    display: none;
  }
  .back {
    display: none;
  }
  .cover {
    position: initial;
    width: 100%;
    margin-top: -20px;
  }
  .background {
    overflow: hidden;
    height: 300px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.65, black), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, transparent));
  }
  .hero {
    width: 100%;
    height: auto;
    transform: none;
    margin-left: 5px;
  }
  .details {
    padding: 0;
    transform: none;
  }
  .details .title1 {
    font-size: 20px;
    margin-bottom:0;
    font-weight: bold;
  }

  .details #runtime {
    font-size: 12px;
    color:gray;
    display:inline;
  }

  .separator {
    display:inline;
    color:gray;
    margin-left: 4px;
    margin-right: 4px;
  }

  .details .likes {
    font-size: 12px;
    color: gray;
  }

  .description {
    height:auto;
    line-height:normal;
    margin-left: 5px;
    font-size: 12px;
  }

  .description .column1 {
    padding: 0;
    width:auto;
    float: none;
    text-align: left;
  }

  .tag {
    color: gray;
    background: none;
    border-radius: initial;
    padding: 0;
    line-height: normal;
    cursor: auto;
  }

  .description .column2 {
    padding: 0;
    margin-left: 0;
  }

  .release {
    color: gray;
  }

  .overview_title {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }

  .avatars img {
    width: 100px;
    height: 135px;
  }

  .carousel-indicators {
    display:none;
  }
}
