.hero {
  width: 100%;
  height: 400px;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transform: skewY(-2.2deg);
  transform: skewY(-2.2deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  top: 0;
  left: 0;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.95, black), color-stop(0.98, rgba(0, 0, 0, 0.6)), color-stop(1, transparent));
}

.hero img {
  width: 100%;
  position: absolute;
  opacity: 0.7;
}

.back {
  max-width: calc(100% - 200px);
  width: 100%;
  position: absolute;
  margin-top: -32px;
  z-index: -10;
  opacity: 0.06;
}

.cover {
  position: absolute;
  top: 135px;
  left: 262px;
  z-index: 2;
  width: 380px;
}

.title1 {
  padding: 255px 0 0 460px;
  transform: skewY(+2.2deg);
  color: white;
  font-size: 44px;
  margin-bottom: 13px;
  position: relative;
}

.details #runtime {
  display: inherit;
}

.separator {
  display: none;
}

.button {
  font-size: 22px;
  text-align: center;
  line-height: 25px;
  text-decoration: none;
  color: white;
  background-color: #0093ab;
  border-radius: 4px;
  position: absolute;
  left: 725px;
  top: 415px;
  width: 150px;
  height: 44px;
  padding: 10px;
  margin-top: -22px;
  margin-left: -62px;
  text-shadow: 0 -1px -1px #005e6d;
  box-shadow: 0 4px 0 #005e6d, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
  transition: all 0.15s ease-in-out;
  user-select: none;
  cursor: pointer;
}

.button:hover {
  background-color: #02a8c3;
  text-shadow: 0 -1px -1px #005e6d;
  -moz-box-shadow: 0 4px 0 #005e6d, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 0 #005e6d, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 0 #005e6d, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.button:active {
  margin-top: -18px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.more {
  margin-bottom: 25px;
}

.fa-heart {
  color: red;
}

.description {
  height: 200px;
  font-size: 16px;
  color: #B1B0AC;
}

.column1 {
  padding-left: 62px;
  display: block;
  padding-top: 307px;
  width: 442px;
  float: left;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  padding-left: 442px;
  margin-left: 20px;
}

.avatars {
  margin-top: 23px;
}

.avatars img {
  cursor: pointer;
  width: 135px;
  height: 200px;
}

.avatars img:hover {
  opacity: 0.6;
}

.avatars a:hover {
  text-decoration: none;
}

#popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99;
  text-align: center;
}

#popup i {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 50px;
  color: white;
  cursor: pointer;
}

youtube-player {
  top: 30%;
  position: absolute;
  left: 35%;
}

.show {
  display: block;
}

@media (max-width: 768px) {
  .hero img {
    display: none;
  }
  .back {
    display: none;
  }
  .cover {
    position: initial;
    width: 100%;
    margin-top: -20px;
  }
  .background {
    overflow: hidden;
    height: 300px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.65, black), color-stop(0.95, rgba(0, 0, 0, 0.6)), color-stop(1, transparent));
  }
  .hero {
    width: 100%;
    height: auto;
    transform: none;
    padding-left: 5px;
    padding-right: 5px;
  }
  .title1 {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: bold;
    padding: 0;
    transform: none;
  }
  #runtime {
    font-size: 12px;
    color: gray;
    display: inline;
  }
  .separator {
    display: inline;
    color: gray;
    margin-left: 4px;
    margin-right: 4px;
  }
  .likes {
    font-size: 12px;
    color: gray;
  }
  .description {
    height: auto;
    line-height: normal;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
  }
  .description .column1 {
    padding: 0;
    width: auto;
    float: none;
    text-align: left;
  }
  .tag {
    color: gray;
    background: none;
    border-radius: initial;
    padding: 0;
    line-height: normal;
    cursor: auto;
  }
  .description .column2 {
    padding: 0;
    margin-left: 0;
  }
  .release {
    color: gray;
  }
  .overview_title {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  .avatars img {
    width: 100px;
    height: 135px;
  }
  .carousel-indicators {
    display: none;
  }
  .button {
    font-size: 15px;
    line-height: 12px;
    color: white;
    left: 78px;
    top: 370px;
    width: 110px;
    height: 29px;
  }
  youtube-player {
    top: 27%;
    position: absolute;
    left: -20%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
