<section id="movies">
  <div class="row">
    <h1>Search</h1>
    <div *ngFor="let movie of this._searchService.searchRes;let i=index" class="col-sm-6 col-md-4 col-lg-3">
      <div class="movie">
        <div class="poster">
          <div class="overlay">
            <div *ngIf="auth.authenticated()" class="navmovie" id='nav{{i}}'>
              <a *ngIf="checkMovie(movie.id)" (click)="this.auth.suppMovie(movie.id)" class="nav-item nav-count-1"><i class="fa fa-trash" aria-hidden="true"></i><span class="invisible">Remove</span></a>
              <a *ngIf="!checkMovie(movie.id)" (click)="this.auth.addMovie(movie.id)" class="nav-item nav-count-1"><i class="fa fa-binoculars" aria-hidden="true"></i><span class="invisible">add</span></a>
              <a href="#" class="nav-item nav-count-2"><i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i><span class="invisible">calendar</span></a>
              <a (click)="this.navMovie('nav'+i)" class="mask">+</a>
            </div>
          </div>
          <a routerLink="/movie/{{movie.id}}">
            <img class="loading" src="/assets/poster.jpg">
            <img *ngIf="movie.backdrop_path && innerHeight <= 768" class="thumbnail" src="http://image.tmdb.org/t/p/w300/{{movie.backdrop_path}}">
            <img *ngIf="movie.poster_path && innerHeight > 768" class="thumbnail" src="http://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
          </a>
          <p class="note">{{movie.vote_average}}</p>
        </div>
        <h2>{{movie.title}}</h2>
      </div>
    </div>
    <div class="pagination col-md-12">
      <div *ngIf="this._searchService.searchRes && this._searchService.page != 1" class="more" (click)="this.firstpage()"><i class="fa fa-fast-backward fa-lg" aria-hidden="true"></i></div>
      <div *ngIf="this._searchService.searchRes && this._searchService.page != 1" class="more" (click)="this.less()"><i class="fa fa-step-backward fa-lg" aria-hidden="true"></i></div>
      {{this._searchService.page}}
      <div *ngIf="this._searchService.searchRes && this._searchService.page < this._searchService.maxpages" class="more" (click)="this.more()"><i class="fa fa-step-forward fa-lg" aria-hidden="true"></i></div>
      <div *ngIf="this._searchService.searchRes && this._searchService.page != this._searchService.maxpages" class="more" (click)="this.end()"><i class="fa fa-fast-forward fa-lg" aria-hidden="true"></i></div>
    </div>
  </div>
</section>
