<section id="movies">
  <div class="row">
    <h1>Popular Movies</h1>
    <div *ngFor="let movie of list;let i=index" class="col-sm-6 col-md-4 col-lg-3">
      <div *ngIf="i < showed" class="movie">
        <div class="poster">
          <img *ngIf="movie.poster_path" class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
          <div class="overlay">
            <div *ngIf="auth.authenticated()" class="navmovie" id='nav{{i}}'>
              <a *ngIf="checkMovie(movie.id)" (click)="this.auth.suppMovie(movie.id)" class="nav-item nav-count-1"><i class="fa fa-trash" aria-hidden="true"></i><span class="invisible">Remove</span></a>
              <a *ngIf="!checkMovie(movie.id)" (click)="this.auth.addMovie(movie.id)" class="nav-item nav-count-1"><i class="fa fa-binoculars" aria-hidden="true"></i><span class="invisible">add</span></a>
              <a href="#" class="nav-item nav-count-2"><i class="fa fa-calendar" aria-hidden="true"></i><span class="invisible">calendar</span></a>
              <a (click)="this.navMovie('nav'+i)" class="mask">+</a>
            </div>
          </div>
          <p class="note">{{movie.vote_average}}</p>
        </div>
        <h2>{{movie.title}}</h2>
      </div>
    </div>
    <div *ngIf="list && showed < list.length" class="more col-md-12" (click)="this.more()">More..</div>
  </div>
</section>
