<section id="movies">
<div *ngIf="this._searchService.searchRes && this._searchService.searchRes !=''" class="row">
  <div *ngFor="let movie of this._searchService.searchRes;let i=index" class="col-md-3">
    <div *ngIf="i < 12">
      <img *ngIf="movie.poster_path" class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
      <h3>{{movie.title}}</h3>
      <p>{{movie.release_date}}</p>
      <p><a class="btn btn-default" href="#" role=button>View details</a></p>
    </div>
  </div>
</div>
<div *ngIf="!this._searchService.searchRes" class="row">
  <div *ngFor="let movie of popularList;let i=index" class="col-md-3">
    <div *ngIf="i < 12">
      <h3>{{movie.title}}</h3>
      <img *ngIf="movie.poster_path" class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
      <p>{{movie.release_date}}</p>
      <p>{{movie.genre_ids}}</p>
      <p class="note">{{movie.vote_average}}</p>
      <p><a class="btn btn-default" href="#" role=button>View details</a></p>
    </div>
  </div>
</div>
</section>
