/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
  color: white;
  background-image: linear-gradient(to right, #161d23, #28536f);
  font-family: 'Quicksand', sans-serif;
  height: 100%;
}

a {
  cursor: pointer;
}
